{
	"Hagi" :
	{
		"Audio" :
		{
			"ChannelsExtension" : true, // for surround sound (SHIGURE-187)
			"ExtensionBufferLatency" : 3,
			"FakeFileOutputPath" : "",
			"Hle" : true,
			"Playback" : true,
			"Statifier" : true
		},
		"Boot" :
		{
			"Args" : null,
			"Country" : "US", // Could be US/JP/UK/DE/FR/SP/IT/NL
			"DVDRoot" :
			{
				"Path" : "data",
				"Relative" : true,
				"FourCC" : "NERD"
			},
			"EURGB60" : true, // This emulates the button B pressed during GC logo boot (retrieved by games using OSGetEuRgb60Mode in Dolphin SDK)
			"Emulate" : true,
			"Ipl" :
			{
				"Path" : "data/boot/boot.elf",
				"Relative" : true
			},
			"Retail" : false,
			"Time" :
			{
				"Calendar" :
				{
					"Day" : 0,
					"Hours" : 0,
					"Minutes" : 0,
					"Month" : 0,
					"Seconds" : 0,
					"Year" : 2000
				},
				"UseCurrentHostTime" : true
			},
			"UseDolHash" : false,
			"VideoMode" : "NTSC" // Could be NTSC/PAL/MPAL
		},
		"Card" :
		{
			"SaveAfterLoadState" : false
		},
		"Cpu" :
		{
			"Jit" : false,
			"JitFastPath" : true,
			"Mmu" : false,
			"Patch" : true,
			"Statifier" : true,
			"SyncMode" : "exact", // "exact", "OC", "speed"
			"SyncEvents" : false
		},
		"Disc" :
		{
			"Fast" : false,
			"Prefetch" : true,
			"GcmPreloadPatterns" : null
		},
		"Exi" :
		{
			"Fast" : false
		},
		"Gpu" :
		{
			"BBoxBypass" : true,
			"DiscardVertexBypass" : false,
			"EfbColorCacheBlockSizeX" : 64,
			"EfbColorCacheBlockSizeY" : 64,
			"EfbDepthCacheBlockSizeX" : 1,
			"EfbDepthCacheBlockSizeY" : 1,
			"DeferEfbColor" : true,
			"DeferEfbDepth" : true,
			"DeferPixelMetrics" : true,
			"EfbToTextureBypass" : true,
			"EfbToXfbBypass" : true,
			"DirectRendering" : true,
			"GarbageCollector" :
			{
				"AggressiveLifetime" : 60,
				"AggressiveSizeThreshold" : 16384,
				"ConservativeLifetime" : 1800,
				"BypassLifetime" : 16,
				"Enabled" : true,
				"MaxCountInFrame" : 14
			},
			"Video" :
			{
				"BufferSize" : 300000000,
				"PlayerLifetime" : 150,
				"MaxDecodedFrames" : 5,
				"LoopedPatterns" : null
			},
			"Overscan" : true,
			"Recording" :
			{
				"SizeLimit" : 1073741824
			},
			"UpscaleFeatures" :
			{
				"ForceNativeMipmap" : true,
				"IgnoreCopyToTexMipmap" : true,
				"UpscaleCopyToTex" : true
			},
			"WideScreen" : true,
			"XfbUsageDetection" : 0,
			"ZFreezeBypass" : true
		},
		"Input" :
		{
			"0" :
			{
				"Keyboard" :
				{
					"KeyPadAxisLeftX" : "Axis(J,L)",
					"KeyPadAxisLeftY" : "Axis(K,I)",
					"KeyPadAxisRightX" : "",
					"KeyPadAxisRightY" : "",
					"KeyPadAxisTriggerLeft" : "",
					"KeyPadAxisTriggerRight" : "",
					"KeyPadButtonA" : "Q",
					"KeyPadButtonB" : "S",
					"KeyPadButtonDown" : "Down Arrow",
					"KeyPadButtonL" : "A",
					"KeyPadButtonLeft" : "Left Arrow",
					"KeyPadButtonR" : "Z",
					"KeyPadButtonRight" : "Right Arrow",
					"KeyPadButtonStart" : "Space",
					"KeyPadButtonUp" : "Up Arrow",
					"KeyPadButtonX" : "W",
					"KeyPadButtonY" : "X",
					"KeyPadButtonZ" : "E"
				},
				"SdlPad" :
				{
					"KeyPadAxisLeftX" : "AxisLeftX",
					"KeyPadAxisLeftY" : "AxisLeftY",
					"KeyPadAxisRightX" : "AxisRightX",
					"KeyPadAxisRightY" : "AxisRightY",
					"KeyPadAxisTriggerLeft" : "AxisLeftTrigger",
					"KeyPadAxisTriggerRight" : "AxisRightTrigger",
					"KeyPadButtonA" : "A",
					"KeyPadButtonB" : "B",
					"KeyPadButtonDown" : "Down",
					"KeyPadButtonLeft" : "Left",
					"KeyPadButtonRight" : "Right",
					"KeyPadButtonUp" : "Up",
					"KeyPadButtonStart" : "Start",
					"KeyPadButtonL" : "Digit0(AxisLeftTrigger)",
					"KeyPadButtonR" : "Digit0(AxisRightTrigger)",
					"KeyPadButtonX" : "X",
					"KeyPadButtonY" : "Y",
					"KeyPadButtonZ" : "RightShoulder"
				},

				"DebugPad" :
				{
					"KeyPadAxisLeftX" : "AxisLeftX",
					"KeyPadAxisLeftY" : "AxisLeftY",
					"KeyPadAxisRightX" : "AxisRightX",
					"KeyPadAxisRightY" : "AxisRightY",
					"KeyPadAxisTriggerLeft" : "ZL",
					"KeyPadAxisTriggerRight" : "ZR",
					"KeyPadButtonA" : "A",
					"KeyPadButtonB" : "B",
					"KeyPadButtonL" : "ZL",
					"KeyPadButtonR" : "ZR",
					"KeyPadButtonLeft" : "Left",
					"KeyPadButtonDown" : "Down",
					"KeyPadButtonRight" : "Right",
					"KeyPadButtonUp" : "Up",
					"KeyPadButtonX" : "X",
					"KeyPadButtonY" : "Y",
					"KeyPadButtonZ" : "R",

					"KeyControl0" : "Select",
					"KeyControl1" : "Start"
				},
				"JoyPad" :
				{
					"KeyPadAxisLeftX" : "AxisLeftX",
					"KeyPadAxisLeftY" : "AxisLeftY",
					"KeyPadAxisRightX" : "AxisRightX",
					"KeyPadAxisRightY" : "AxisRightY",
					"KeyPadAxisTriggerLeft" : "ZL",
					"KeyPadAxisTriggerRight" : "ZR",
					"KeyPadButtonA" : "A",
					"KeyPadButtonB" : "B",
					"KeyPadButtonL" : "ZL",
					"KeyPadButtonR" : "ZR",
					"KeyPadButtonLeft" : "Left",
					"KeyPadButtonDown" : "Down",
					"KeyPadButtonRight" : "Right",
					"KeyPadButtonUp" : "Up",
					"KeyPadButtonX" : "X",
					"KeyPadButtonY" : "Y",
					"KeyPadButtonZ" : "R",
					"KeyPadButtonStart" : "Plus",

					"KeyControl1" : "LeftStick"
				},
				"GcPad" :
				{
					"KeyPadAxisLeftX" : "AxisLeftX",
					"KeyPadAxisLeftY" : "AxisLeftY",
					"KeyPadAxisRightX" : "AxisRightX",
					"KeyPadAxisRightY" : "AxisRightY",
					"KeyPadAxisTriggerLeft" : "TriggerL",
					"KeyPadAxisTriggerRight" : "TriggerR",
					"KeyPadButtonL" : "TriggerL",
					"KeyPadButtonR" : "TriggerR",
					"KeyPadButtonA" : "A",
					"KeyPadButtonB" : "B",
					"KeyPadButtonDown" : "Down",
					"KeyPadButtonLeft" : "Left",
					"KeyPadButtonRight" : "Right",
					"KeyPadButtonUp" : "Up",
					"KeyPadButtonStart" : "Start",
					"KeyPadButtonX" : "X",
					"KeyPadButtonY" : "Y",
					"KeyPadButtonZ" : "R"
				},
				"Rumble" : false
			},
			"1" :
			{
				"Rumble" : false
			},
			"2" :
			{
				"Rumble" : false
			},
			"3" :
			{
				"Rumble" : false
			},
			"Recording" :
			{
				"ExitOnEnd" : false
			}
		},
		"Control" :
		{
			"KeyControl0" : "ToggleSyncSpeedup",
			"KeyControl1" : "ToggleOverlay"
		},
		"Log" :
		{
			"Ai" : false,
			"Debugger" : false,
			"Di" : false,
			"Dsp" : false,
			"Exi" : false,
			"ExiUart" : true,
			"File" : false,
			"Flipper" : true,
			"GekkoStatifier" : false,
			"Gcm" : false,
			"Hanafuda" : false,
			"Input" : false,
			"Mxic" : false,
			"Si" : false,
			"UncachedMemory" : false,
			"Vi" : false
		},
		"Nx" :
		{
			"Frequency" :
			{
				"Console" :
				{
					"Cpu" : 0, // (0=default, in MHz)
					"Gpu" : 0, // (0=default, in MHz)
					"Mem" : 0 // (0=default, in MHz)
				},
				"Handheld" :
				{
					"Cpu" : 0, // (0=default, in MHz)
					"Gpu" : 0, // (0=default, in MHz)
					"Mem" : 0 // (0=default, in MHz)
				}
			},
			"Gpu" :
			{
				"Console" :
				{
					"Upscale" : 6
				},
				"Handheld" :
				{
					"Upscale" : 6
				}
			}
		},
		"Oz" :
		{
			"Frequency" :
			{
				"Console" :
				{
					"Cpu" : 0, // (0=default, in MHz)
					"Gpu" : 0, // (0=default, in MHz)
					"Mem" : 0 // (0=default, in MHz)
				},
				"Handheld" :
				{
					"Cpu" : 0, // (0=default, in MHz)
					"Gpu" : 0, // (0=default, in MHz)
					"Mem" : 0 // (0=default, in MHz)
				}
			},
			"Gpu" :
			{
				"Console" :
				{
					"Upscale" : 6
				},
				"Handheld" :
				{
					"Upscale" : 6
				}
			}
		}
	}
}
